.navbar{
    width:100%;
   background-color: var(--color-black);
}

.navbar_wrapper{
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--color-golden);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

}

.logo>img{
    width: 120px;
    
}

.nav_links{
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}

.nav_links>li>a{
    margin: 0 1.1em;
    font-family: var(--font-base);
    color:var(--color-golden);
    cursor: pointer;
    font-size: 1.6rem;
}
.nav_links>li>a:hover{
    color:var(--color-grey);
}

.nav_login{
    list-style: none;
    display:flex;
    align-items: center;
    
}

.nav_login>li>a{
    margin: 0 20px;
    font-family: var(--font-base);
    color:var(--color-golden);
    text-decoration: none;
    transition: 0.5s ease;
    font-size: 1.6rem;
   
}
.nav_login>li>a:hover{
    color:var(--color-grey);
}
.nav_divider{
    width:1px;
    height:30px;
    background-color:var(--color-grey);
}
.nav_smallscreen{
   display: none;
}
.nav_smallscreen_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-black);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 5;
}
.close_overlay{
    color: #fff9c4;
    position:absolute;
    top:20px;
    right:20px;
    
}
@media  screen and  (min-width:368px) and (max-width: 600px) {
    
    .nav_smallscreen{
        display: flex;
        z-index: 10;
    }
    .nav_links,.nav_login{
        display: none;
    }
    .nav_wrapper{
        padding: 1em 0em ;
    }
    .logo>img{
        width:80px;
    }
    
.nav_smallscreen_links {
    list-style: none;
    width: 100%;
    text-align: center;
}

.nav_smallscreen_links>li {
    cursor: pointer;
    color: var(--color-golden);
    font-size: 1.6rem;
    margin:2rem 0em;
    font-family: var(--font-base);
}

.nav_smallscreen_links>li:hover {
    color: var(--color-white);
}

}

@media only screen and  (min-width:601px) and (max-width: 821px) 
{
    .nav_smallscreen{
        display: flex;
        z-index: 10;
    }
    .nav_links,.nav_login{
        display: none;
    }
    .nav_wrapper{
        padding: 1em 0em ;
    }
    .logo>img{
        width:80px;
    }
    
.nav_smallscreen_links {
    list-style: none;
    width: 100%;
    text-align: center;
}

.nav_smallscreen_links>li {
    cursor: pointer;
    color: var(--color-golden);
    font-size: 1.6rem;
    margin:2rem 0em;
    font-family: var(--font-base);
}

.nav_smallscreen_links>li:hover {
    color: var(--color-white);
}

}